.logo {
	margin-bottom: 7px;
	width: 140px;

}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar {min-height: 40px;}
.navbar-brand {height: 60px; line-height: 40px;}

.icon-size
{
    font-size: 127px;
}

img.mediana{
width: 210px;
height: 50px; 
}

.centrar {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mycontent-left {
  border-right: 1px solid #333;
}
