div.enlinea {
    display: inline-block;
    padding-right: 40px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}


h4.panel-title{
    font-size:x-large !important;
}

h4.titulo-proyectoinfo{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    color:black;
}
p.informacion-proyecto{
        margin: 0 0 100px !important;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	   font-size: 14px;
	   font-style: normal;
	   font-variant: normal;
	   font-weight: 400;
	   line-height: 20px;
}

p.mas-informacion-proyecto{
       font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	   font-size: 14px;
	   font-style: normal;
	   font-variant: normal;
       font-weight: 400;
}

div.panel-body {
    background-color: #CECBCB !important;

}
div.panel.panel-default{
    
    margin-bottom: 0px !important;
}

h5.h5-urbanismo{
    color: black;
}

div.text-objetivos{
    padding-right: 40px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 0px;
}

p span{
    background-color: white !important;
}

a.btn.btn-primary.btn-lg.masinfo{
    background-color: #445461 !important;
    border-color: transparent !important;
    border-radius: 0px !important;
    inline-size: 132px;
}
a.btn.btn-primary.btn-lg.vota{
    background-color: #f04c41 !important;
    border-color: transparent !important;
    border-radius: 0px !important;    
    inline-size: 146px;
}
a.btn.btn-primary.btn-lg.delibera{
    background-color: #b2defb !important;
    border-color: transparent !important;
    border-radius: 0px !important;
    color: #666666 !important;
    inline-size: 130px;
}
a.btn.btn-primary.btn-lg.vota1{
    background-color: #f04c41 !important;
    border-color: transparent !important;
    border-radius: 0px !important;    
    inline-size: 240px;
}
a.btn.btn-primary.btn-lg.delibera1{
    background-color: #b2defb !important;
    border-color: transparent !important;
    border-radius: 0px !important;
    color: #666666 !important;
    inline-size: 240px;
 
}
img.img-mas{
    width: 35px;
    height: 35px;
}
img.img-voto{
    width: 35px;
    height: 35px;
}
img.img-lupa{
    width: 35px;
    height: 35px;
}
div.col-lg-3.div-vota{
    padding-left: 0px !important;
}
div.col-lg-3.div-deli{
    padding-left: 0px !important;
}
span.porcentaje{
    font-size: 0.8em !important;
    display:block;
    position: relative;
    left: 140px;
}
span.fecha-rango1{
    font-size: 0.8em !important;
    color: #f04c41 !important;
    position:relative;
    bottom: 3px;
}
span.fecha-rango2{
    font-size: 0.8em !important;
    color: #f04c41 !important;
    position: relative;
    bottom: 3px;
    right: 13px;
}
div.col-lg-5.rango-rojo{
    height:15px;
    background-color: #f04c41 !important;
    border-radius: 200px 10px 0px 200px;
    -moz-border-radius: 200px 10px 0px 200px;
    -webkit-border-radius: 200px 10px 0px 200px;
    border: 0px solid #000000;
}
div.col-lg-3.rango-gris{
    height:15px;
    background-color: #445461 !important;
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    border: 0px solid #000000;
}

div.col-lg-4.rango-rojo{
    height:15px;
    background-color: #f04c41 !important;
    border-radius: 200px 10px 0px 200px;
    -moz-border-radius: 200px 10px 0px 200px;
    -webkit-border-radius: 200px 10px 0px 200px;
    border: 0px solid #000000;
}
div.col-lg-4.rango-gris{
    height:15px;
    background-color: #445461 !important;
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    border: 0px solid #000000;
}

div.col-lg-7.rango-rojo{
    height:15px;
    background-color: #f04c41 !important;
    border-radius: 200px 10px 0px 200px;
    -moz-border-radius: 200px 10px 0px 200px;
    -webkit-border-radius: 200px 10px 0px 200px;
    border: 0px solid #000000;
}
div.col-lg-1.rango-gris{
    height:15px;
    background-color: #445461 !important;
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    border: 0px solid #000000;
}
div.row.separacion-fila{
    margin-bottom: 10px !important;
}
