div.enlinea {
    display: inline-block;
    padding-right: 40px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}


h4.panel-title{
    font-size:x-large !important;
}
p.informacion-proyecto{
        margin: 0 0 100px !important;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	   font-size: 14px;
	   font-style: normal;
	   font-variant: normal;
	   font-weight: 400;
	   line-height: 20px;
}

div.panel-body {
    background-color: #CECBCB !important;

}
div.panel.panel-default{
    margin-left: 150px !important;
    margin-bottom: 0px !important;
}

h5.h5-urbanismo{
    color: black;
}

div.text-objetivos{
    padding-right: 40px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 0px;
}

p span{
    background-color: white !important;
}

a.btn.btn-primary.btn-lg.masinfo{
    background-color: #445461 !important;
    border-color: transparent !important;
    border-radius: 0px !important;
    margin-left: 150px;
}
a.btn.btn-primary.btn-lg.vota{
    background-color: #f04c41 !important;
    border-color: transparent !important;
    border-radius: 0px !important;
}
a.btn.btn-primary.btn-lg.delibera{
    background-color: #b2defb !important;
    border-color: transparent !important;
    border-radius: 0px !important;
    color: #666666 !important;
}
img.img-mas{
    width: 35px;
    height: 35px;
}
img.img-voto{
    width: 35px;
    height: 35px;
}
img.img-lupa{
    width: 35px;
    height: 35px;
}