span.titulo{
  font-size: 1.7em;  
}

div.col-xs-2.areas {
  
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  padding-left: 0px !important;
}

div.col-xs-3.titulo-area{
    border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border: 1px solid #000000;
    padding-left: 15px !important;
}

div.row.seccion-proyecto{
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 0.5px;
}
div.col-xs-2.seccion-info-proyecto1{
    height: 40px;
    background-color: #eee;
}
div.col-xs-6.seccion-info-proyecto2{
  border-width: 1.5px;  
  border-right-style: solid;
  border-left-style: solid;
}
div.col-xs-2.seccion-info-proyecto4{
  border-width: 1.5px;  
  border-right-style: solid;
  border-left-style: solid;
  height: 40px;
}
span.medio{
    position:relative;
    top: 10px;
}
a.medio{
    position:relative;
    top: 10px;
}
span.medio-confirmada{
    position:relative;
    top: 10px;
    color:#b2defb;
}
a.medio-confirmada{
    position:relative;
    top: 10px;
    color:#b2defb;
}
span.text-fecha{
    font-size: 0.8em;
}
a.medio-confirmada:link   
{   
 text-decoration:none;   
}
span.medio-noconfirmada{
    position:relative;
    top: 10px;
    color:#f04c41;
}
a.medio-noconfirmada{
    position:relative;
    top: 10px;
    color:#f04c41;
}
a.medio-noconfirmada:link   
{   
 text-decoration:none;   
}

div.col-xs-3.seccion-info-proyecto1{
    height: 40px;
    background-color: #eee;
}

/* Info decisiones */
div.row.seccion-info-proyecto{
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 0.5px;
}

div.col-xs-3.imagen{
  border-width: 1.5px;  
  border-right-style: solid;
  height: 400px;
}

div.col-xs-6.seccion-info-proyecto{
  border-width: 1.5px;  
  border-right-style: solid;
  height: 400px;
}
div.row.seccion-info-fila-primera{
    border-bottom-style: solid;
    border-width: 0.5px;
    height:80px;
}
div.row.seccion-info-fila-segunda{
    border-bottom-style: solid;
    border-width: 0.5px;
    height:40px;
}
div.row.seccion-info-fila-tercera{
    border-bottom-style: solid;
    border-width: 0.5px;
    height:110px;
}
div.row.seccion-info-fila-cuarto{
    border-bottom-style: solid;
    border-width: 0.5px;
    height:50px;
}
div.row.seccion-info-fila-quinto{
    height:120px;
}

span.tipo-letra{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    position:relative;
    top:10px;
}

span.position-letra1{
    position:relative;
    top:30px;
}
span.position-letra2{
    position:relative;
    top:10px;
}
span.position-letra3{
    position:relative;
    top:45px;
}
span.position-letra4{
    position:relative;
    top:15px;
}
span.position-letra5{
    position:relative;
    top:20px;
}
span.position-tipo-letra5{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    position:relative;
    top:30px;
}

/* 80% */
div.col-xs-6.rango-rojo{
    height:15px;
    background-color: #f04c41 !important;
    position:relative;
    top:13px;
}

div.col-xs-2.rango-azul{
    height:15px;
    background-color: #b2defb !important;
    position:relative;
    top:13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
}

/* 60-70 % */
div.col-xs-5.rango-rojo{
    height:15px;
    background-color: #f04c41 !important;
    position:relative;
    top:22px;
}

div.col-xs-3.rango-azul{
    height:15px;
    background-color: #b2defb !important;
    position:relative;
    top:22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
}

span.tipo-letra-porcentaje{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    position:relative;
    top:20px;
}

/* 90% */
div.col-xs-7.rango-rojo{
    height:15px;
    background-color: #f04c41 !important;
    position:relative;
    top:32px;
}

div.col-xs-1.rango-azul{
    height:15px;
    background-color: #b2defb !important;
    position:relative;
    top:32px;
    padding-right: 0px !important;
}
span.tipo-letra-porcentaje1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    position:relative;
    top:30px;
}
span.porcentaje-numero{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    position:relative;
    right:15px;   
}
img.img-responsive{
    position: relative;
    top:15px;
}

/* NO CONFIRMADA */
span.medio-noconfirmada{
    position:relative;
    top: 10px;
    color:#f04c41;
}
div.row.seccion-info-fila-primera-nodecide{
    border-bottom-style: solid;
    border-width: 0.5px;
    height:230px;
}

div.col-xs-2.rango-rojo{
    height:15px;
    background-color: #f04c41 !important;
    position:relative;
    top:15px;
}
div.col-xs-6.rango-azul{
    height:15px;
    background-color: #b2defb !important;
    position:relative;
    top:15px;
}
div.col-xs-1.rango-rojo{
    height:15px;
    background-color: #f04c41 !important;
    position:relative;
    top:20px;
    padding-right: 0px !important;
}
div.col-xs-7.rango-azul{
    height:15px;
    background-color: #b2defb !important;
    position:relative;
    top:20px;   
}
div.col-xs-4.rango-rojo{
    height:15px;
    background-color: #f04c41 !important;
    position:relative;
    top:32px;
}
div.col-xs-4.rango-azul{
    height:15px;
    background-color: #b2defb !important;
    position:relative;
    top:32px;
}